<section class="container mt-3">
    <div class="card shadow p-3">
        <div class="row">
            <figure class="col-12 col-md-3">
                <img class="img-fluid" [src]="miSerie.image" [alt]="miSerie.username">
            </figure>
            <div class="col-12 col-md-9">
                <h2>{{miSerie.id}}</h2>
                <hr>
                <p>nombre: {{miSerie.first_name}}</p>
                <p>apellido: {{miSerie.last_name}}</p>
                <p>usuario: {{miSerie.username}}</p>
                <p>email: {{miSerie.email}}</p>
                <app-botonera-serie [parent]="'view'" [miId]="miSerie.id"></app-botonera-serie>
            </div>
        </div>
    </div>
</section>
